*{
    box-sizing: border-box;
}
body{
      background-image: url("images/background.jpg.jpg");
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      font-family: sans-serif;
      align-items: center;
      display: flex;
      justify-content: center;
      min-height: 100vh;
}
.content{
    background-color: rgba(77, 77, 77, 0.089);
    width: 800px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgba(0, 0,0, 12);
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}
header{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
button{
    padding: 0 32px;
    font-weight: bold;
    border-radius: 10px;
    background:burlywood;
    text-align: center;
    padding: 4px 18px;
    align-items: center;
}
button :hover{
    background:rgba(39, 39, 38, 0.247);
}
.btn{
    padding: 0 32px;
    font-weight: bold;
    border-radius: 10px;
    background:burlywood;
    text-align: center;
    padding: 4px 18px;
    align-items: center;
}
.btn :hover{
    background:rgba(39, 39, 38, 0.247);
}
.content .tags{
    width: 100%;
    border-radius: 10px;
}
.content .text{
    height: 180px;
    width: 100%;
    border-radius: 10px;
}.content .title{
    width: 100%;
    border-radius: 10px;
}
.btnn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}