<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirm editor page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="confirm_editor.css" />
</head>
<body>
    <div class="bg-img">
     <header class="container-fluid">
        <div class="container">
        <div class ="logo">
            <h2>ExplorAir</h2>
              </div>
                 <nav>
                 <a href='about/'>About</a> |
                 <a href="logout/">Log out</a>
                 <a href="homepage/">Home</a>

           </nav>                
        </div>
     </header>


     <table class="main-table">
        <caption>Confirm editor's reqquests</caption>
        <thead>
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Approve</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{Username}}</td>
                <td>{{Email}}</td>
                <td>{{Firstname}}</td>
                <td>{{Lastname}}</td>
                <td>
                    <form method="POST">
                        <input class="request-btn-v" type="submit" name="accept" id="accept" value="Approve">
                        <input class="request-btn-x" type="submit" name="reject" id="decline" value="Reject">
                    </form>
                </td>
            </tr>
        </tbody>

        <tfoot>

        </tfoot>
        
     </table>
    </div>
</body>
</html>