<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Posts</title>
    <link rel="stylesheet" type="text/css" href="search.html">
</head>

<body>
    <div class="wrapper">
        <div class="center-line">
            <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-home"></i>
                <div class="details">
                    <span class="title">{{title1}}</span>
                    <span>{{date1}}</span>
                </div>
                <p>{{post_text1}}</p>
                <div class="bottom">
                    <a href="#">Read more</a>                   
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">{{title2}}</span>
                    <span>{{editor_name2}}, {{date2}}</span>
                </div>
                <p>{{post_text2}}</p>
                <div class="bottom">
                    <a href="#">Read more</a>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">{{title3}}</span>
                    <span>{{editor_name3}}, {{date3}}</span>
                </div>
                <p>{{post_text3}}</p>
                <div class="bottom">
                    <a href="#">Read more</a>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-globe"></i>
                <div class="details">
                    <span class="title">{{title4}}</span>
                    <span>{{editor_name4}}, {{date4}}</span>
                </div>
                <p>{{post_text4}}</p>
                <div class="bottom">
                    <a href="#">Read more</a>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-paper-plane"></i>
                <div class="details">
                    <span class="title">{{title5}}</span>
                    <span>{{editor_name5}}, {{date5}}</span>
                </div>
                <p>{{post_text5}}</p>
                <div class="bottom">
                    <a href="#">Read more</a>
                </div>
            </section>
        </div>
        
        <div>
            <a href="#next_page#">Next page</a> 
            <a href="#prev_page#">Previous page</a>
        </div>
    </div>
</body>

</html>